@model IPBProjekt.Models.Dokument

@{
    ViewData["Title"] = "WyswietlDokument";
}

<h1>Wyswietl Dokument</h1>

<div>
    <h4>Dokument</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kursant.Imie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kursant.Imie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kursant.Nazwisko)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kursant.Nazwisko)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kursant.EmailAdress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kursant.EmailAdress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kursant.DataUrodzenia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kursant.DataUrodzenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Kursant.NumerKursanta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Kursant.NumerKursanta)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Zatwierdz" asp-route-idOsoba="@Model.Kursant.IdOsoba" asp-route-idWydzialu="@ViewBag.idWydzialu">Zatwierdź</a> |
    <a asp-action="Odrzuc" asp-route-idOsoba="@Model.Kursant.IdOsoba" asp-route-idWydzialu="@ViewBag.idWydzialu">Odrzuć</a>
</div>
